@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .editor-styles p {
    @apply text-left;
  }

  .editor-styles ul {
    @apply list-disc pl-6;
  }
  .editor-styles ol {
    @apply list-decimal pl-6;
  }
  .editor-styles li {
    @apply list-item;
  }
  .editor-styles blockquote {
    @apply border-l-4 border-gray-300 my-6 pl-4;
  }
  .editor-styles pre {
    @apply bg-[#212121] text-white rounded-lg font-mono my-6 p-4;
  }
  .editor-styles pre code {
    @apply bg-transparent text-inherit text-sm p-0;
  }
  .editor-styles h1,
  .editor-styles h2,
  .editor-styles h3 {
    @apply m-2 font-bold text-pretty; /* Larger top margin and bottom margin */
  }

  .editor-styles h1 {
    @apply text-2xl; /* Font size for h1 (1.4rem) */
  }

  .editor-styles h2 {
    @apply text-xl; /* Font size for h2 (1.2rem) */
  }

  .editor-styles h3 {
    @apply text-lg; /* Font size for h3 (1.1rem) */
  }

  .editor-styles hr {
    @apply w-full border-t border-gray-300 cursor-pointer my-4; /* Default styling */
  }

  .editor-styles hr.ProseMirror-selectednode {
    @apply border-t border-purple-500; /* Styling for selected node */
  }

  .editor-styles mark {
    @apply bg-[#ffa8a8] rounded-md break-words px-1 py-0.5;
  }

  .editor-styles a {
    @apply text-purple-500 cursor-pointer transition-colors;
  }

  .editor-styles a:hover {
    @apply text-purple-700;
  }
}

.editor-styles p {
  margin: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
